.check-form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 530px;
    margin-left: 33%;
    margin-bottom: 80px;
}
.container-checkout .title
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container-checkout .cont
{
    font-size: 20px;
    font-weight: bold;
}
.container-checkout .controls
{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid #43434384;
}
.container-checkout .inform
{
    position: absolute;
    margin-top: 130px;
}
.container-checkout .h3
{
    padding-bottom: 20px;
}
.container-checkout .address
{
    display: flex;
}
.container-checkout .address .controls-add
{
    width: 38%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid #43434384;
}
.container-checkout .address .controls-add2
{
    width: 38%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid #43434384;
    margin-left: 20px;
}
.container-checkout .check 
{
    width: 80%;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #0bb45f;
    color: #fff;
    margin-right: 20px;
    margin-top: 8px;
    height: 30px;
}
.container-checkout .finishBtn
{
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #769CFF;
    color: #fff;
    margin-top: 8px;
    height: 30px;
}
@media screen and (max-width: 667px){ .container-checkout {width: 500px;} 
.container-checkout .form {width: 500px; padding-left: 30px;}
.container-checkout .check-form { width: 400px; margin-left: 50px; margin-right: 0;}
}