.flex
{
    display: flex;
    align-items: center;
}
.grid
{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}
.dahboard-container
{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3e0e0;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 8px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dahboard-container .sideBar
{
    background-color: #ffff;
    box-shadow:rgba(0, 0, 0, 0.35) 1px 0px 4px ;
    width: 18%;
    height: 100%;
    gap: 3rem;
    overflow: auto;
}
.dahboard-container .logoDiv img
{
    width: 100%;
    height: auto;
}
.dahboard-container .logoDiv h2
{
    font-size: 1.25rem;
    color: #769CFF;
}
.dahboard-container .menuDiv .menuLists .listItem .Link
{
    text-decoration: none;
    color: #827c7c;
    font-weight: 500;
}
.dahboard-container .menuDiv .menuLists .listItem .Link:hover
{
    color:#769CFF;
}
.dahboard-container .menuDiv .menuLists .listItem .Link .icon
{
    margin-right: .5rem;
}
.dahboard-container .menuDiv .menuLists .listItem
{
    list-style: none;
    padding: .2rem 1.5rem;
    width: 100%;
    position: relative;
}
.dahboard-container .menuDiv .menuLists .listItem ::before
{
    position: absolute;
    content: '';
    height: 0%;
    left: 0;
    width: 5px;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #769CFF;
}
.dahboard-container .menuDiv  .menuLists .listItem :hover::before
{
    height: 100%;
    transition: .3s ease;
}
.dahboard-container .menuDiv .menuLists 
{
    margin-bottom: 150px;
}
.dahboard-container .menuDiv .divTitle
{
    font-size:1.25rem ;
    padding: 0 1.5rem 1.5rem;
}
.dahboard-container .sideBar .logoDiv
{
    padding: 1.5rem 1.5rem 0;
    cursor: pointer; 
}
.dahboard-container .sideBar .logoDiv img
{
    max-width: 50px;
    margin-right: .5rem;
    background-color: #f3efef;
    border-radius: 2px;
    padding: .2rem;
}
.dahboard-container .mainContent
{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}
.dahboard-container .mainContent .bottom
{
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-start;
}
.dahboard-container .mainContent .top .headerSection
{
    justify-content: space-between;

}
.dahboard-container .mainContent .top .headerSection .title h1
{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 700;
}
.dahboard-container .mainContent .top .headerSection .title p
{
    font-size: .938rem;
    color: #555353;
    font-weight: 500;
}
.dahboard-container .mainContent .top .adminImage
{
    border: 3px solid #ffff;
    border-radius: 10px;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 2px 4px ;
}
.dahboard-container .mainContent .top .adminImage img
{
    width:100%;
    height: 100%;
    padding-top: 1px;
}
.dahboard-container .mainContent .top .cardSection
{
    margin-top: 3rem;
    gap: 1rem;
    width: 100%;
}
.dahboard-container .mainContent .top .cardSection .rightCard
{
    position: relative;
    flex-basis: 100%;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
.dahboard-container .mainContent .top .cardSection .rightCard .videoDiv
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.dahboard-container .mainContent .top .cardSection .rightCard .videoDiv video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dahboard-container .mainContent .top .cardSection .rightCard h1
{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffff;
    font-weight: 800;
    z-index: 100;
}
.dahboard-container .mainContent .top .cardSection .rightCard p
{
    z-index: 100;
    padding: 1rem;
    color: #a1b7ed;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dahboard-container .mainContent .bottomCard
{
    flex-basis: 50%;
}
.dahboard-container .mainContent .bottomCard .main
{
    margin-top: 35px;
    position: relative;
    padding: 1rem;
    height: 200px;
    width: 550px;
    border-radius: 1rem;
    justify-content: space-between;
}
.dahboard-container .mainContent .bottomCard .main::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 75%;
    background: #000000;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
}
.dahboard-container .mainContent .bottomCard .main .textDiv
{
    z-index: 100;
}
.dahboard-container .mainContent .bottomCard .main .textDiv h1
{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #ffff;
}
.dahboard-container .mainContent .bottomCard .main .textDiv .flex
{
    gap: 1.5rem;
    font-weight: 500;
    color: #827c7c;

}
.dahboard-container .mainContent .bottomCard .main .textDiv .link
{
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
}
.dahboard-container .mainContent .bottomCard .main .textDiv  .link:hover
{
    color: #769CFF;
}
.dahboard-container .mainContent .bottomCard .main .textDiv  .link:hover .icon
{
    transform: translateX(10px);
    transition: .3s ease;
}
.dahboard-container .mainContent .bottomCard .main .imgDiv
{
    transform: translateY(-4px);
}
.dahboard-container .mainContent .bottomCard .main .imgDiv img
{
    width: 200px;
}
.dahboard-container .mainContent .Activity
{
    flex-basis: 50%; 
}
@media screen and (max-width: 667px){ .dahboard-container {width: 500px; display:flex; flex-direction: column; margin-left: 1px;}
.dahboard-container .sideBar {width: 100%; height: 100px; padding-bottom: 20px;}
.dahboard-container .sideBar .menuDiv .divTitle {padding-bottom: 1px;}
.dahboard-container .sideBar .logoDiv { display: none;}
.dahboard-container .sideBar .menuDiv { height: 50px;}
.dahboard-container .sideBar .menuDiv .menuLists {display: flex; margin-bottom: 0;}
.dahboard-container .sideBar .menuDiv .menuLists .listItem .Link{margin-right: -1;}
.dahboard-container .mainContent .top {display: none;}
.dahboard-container .mainContent  .bottomCard {display: flex; flex-direction: column;}
.dahboard-container .mainContent .bottomCard .main {width: 450px;}
.dahboard-container .mainContent .bottomCard .main .textDiv {margin-left: 20px;}
}

