*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration:none;
}
.footer .container .aboutfoot .logo img
{
    width: 100px;
    height: 100px;
}
.footer
{
    padding: 1px 1px;
    width: 100%;
    background-color: #010f1c;
    padding-bottom: 50px;
}
.footer .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .container .aboutfoot
{
    max-width: 30%;
    margin-top: 50px;
    margin-left: 20px;
}
.footer .container .aboutfoot .detail p
{
    margin-top:20px;
    font-size: 16px;
    color: #707274;
}
.footer .container .aboutfoot .detail .icon
{
    margin-top: 20px;
    display: flex;
}
.footer .container .aboutfoot .detail .icon li
{
    margin-left: 20px;
    list-style: none;
    padding: 10px 10px;
    box-shadow: rgba(210, 209, 209, 0.692) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    border-radius: 5px;
    background-color: #021526;
}
.footer .container .aboutfoot .detail .icon li:hover
{
    background-color: #fff;
    color: #021526;
    border-radius: 10px;
    font-size: 16px;
}
.footer .container .account
{
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 80px;
}
.footer .container .account h3
{
    font-size: 32px;
    color: #fff;
}
.footer .container .account ul 
{
    margin-top: 10px;
    margin-left: 20px;
}
.footer .container .account ul Link{
    text-decoration: none;
}
.footer .container .account ul li
{
    margin-top: 5px;
    color: #dce3ea;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}
.footer .container .account ul li a
{
    text-decoration: none;
    color: #dce3ea;
}
.footer .container .page ul li .adm
{
    color: #dce3ea;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.footer .container .account ul li:hover
{
    color: #f3b123;
}
.footer .container .page
{
    margin-right: 150px;
    margin-top: 80px;
}
.footer .container .page h3
{
    font-size: 32px;
    color: #fff;
}
.footer .container .page ul 
{
    margin-top: 10px;
    margin-left: 20px;
}
.footer .container .page ul li
{
    margin-top: 5px;
    color: #dce3ea;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}
.footer .container .page ul li:hover
{
    color: #f3b123;
}
.footer .container .page ul li .adm:hover
{
    color: #f3b123;
}
.map {
    margin-top: 5px;
    width: 80%;
    height: 250px; /* Establece la altura deseada */
    max-width: 70%; /* Asegura que el mapa no sea más ancho que su contenedor */
}
.footer .container .icon li .mercadol
{
    color:white;
    text-decoration: none;
}
.footer .container .icon li .mercadol:hover
{
    color: #021526;
}
.footer .container .map 
{
    margin-left: 50px;
    margin-top: 20px;
}
@media screen and (max-width: 320px) {
    .footer .container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 667px){ .footer .container { width: 500px; display: flex;}
.footer{width: 500px; padding:none; padding-bottom:50px;}
.footer .container .map {display: none;}
.footer .aboutfoot {margin-left: 20px;}
.footer .container .account {margin-left: 50px; margin-top: 60px;}
.footer .container .aboutfoot .logo img {width: 60px; height: 60px;}
.footer .container .aboutfoot .detail p {font-size: 10px;}
.footer .container .aboutfoot .detail .icon {margin-left: -20px;}
}

